<h2 id="title">Ember-Engines Demo</h2>

{{#link-to "blog"}}Blog{{/link-to}}

<button onclick={{action 'btnHandler'}}>Trigger the service</button>
<br>
{{#if showNewNav}}
<button>New button</button>
{{/if}}

{{outlet}}
